body{
    min-height: 100vh;
}

.app__background{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 50%;
    padding: 0;
}

.counterBox{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.num {
    border-radius: 25px;
    background: black;
    color: white;
    font-family: 'Lucida Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border: 5px solid white;
}
.num h1{
    font-size: 400%;
}

.clock{
    font-size: 300%;
}

.first{
    padding: 5%; 
}